[submodule "swift/Sourcery"]
	path = swift/Sourcery
	url = https://github.com/krzysztofzablocki/Sourcery.git
[submodule "swift/PromiseKit/TestDrive-PromiseKit.xcworkspace/Projects/promisekit"]
  path = swift/PromiseKit/TestDrive-PromiseKit.xcworkspace/Projects/promisekit
  url = git@github.com:mxcl/PromiseKit.git
